.card
{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 2px black;
    transition: 1s;
    
}

/* #woman{
    display: inline-block;
} */

img{
    /* margin-top: 10px; */
    width: 50%;
    border-radius:5px 5px 0px 0px ;
}

.desc
{
    padding: 0 2px 0 2px;
}

.card:hover {

    box-shadow: 0px 4px 16px black;

}
#woman img{
    margin-top: 10px;
}