.rainbow {
    width: 20px;
    height: 2000px;
    margin: 10px auto;

    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    align-content: baseline;
   
 
}

/* Individual color bands */
.red, .orange, .yellow, .green, .blue, .indigo, .violet {
    width: 20px;
    height: 20px;
    


}

.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.indigo { background-color: indigo; }
.violet { background-color: violet; }

h1{
    text-align: center;
}