div{
    height: 100px;
   border: 1px dashed blue;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;



}

button{
    border: 1px solid black;
    /* border-radius: 4px; */
    padding-right:20px;
    padding-left:10px;

}